h1 {
    text-align: center;
    color: cornflowerblue;
    padding-bottom: 100px;
  }

body {
  text-align: center;
  background-color: lightblue;
  }

  main {
    margin-right: 20px;
    margin-left: 20px;
    background-color: white;
  }

  nav {
    text-align: left;
    background-color: cornflowerblue;
    padding: 10px;
  }

  nav ul {
    list-style-type: none;
    margin: 0;
  }

  nav li {
    display: inline;
    margin-right: 25px;;
  }

  nav a {
    color: white;
    font-size: 1.5em;
  }

  nav a:hover {
    color: salmon;
    text-decoration: none;
  }

/* .home-image {
    display: flex;
    justify-content: center;
    max-width: 50%;
    margin: 0 auto;
    text-align: center;
}

.home-image img {
    max-width: 25%;
    height: auto;
}

.home-image-credit {
    padding-top: 20px;
    text-align: center;
    justify-content: center;
}

a {
    display: flex;          
    justify-content: center; 
    align-items: center;     
    padding: 15px;      
    text-decoration: none;   
  }

  .btn-primary {
    padding: 10px;           
    background-color: blue; 
    color: white;           
    cursor: pointer;         
  }
  
  .fourofour-image {
    display: flex;
    justify-content: center;
    max-width: 50%;
    margin: 0 auto;
    text-align: center;
}

.fourofour-image img {
    max-width: 60%;
    height: auto;
}
 */

  